@charset "UTF-8";
/* CSS Document */
/* www.josefzacek.com /*

/* mobile properties*/
.browsehappy {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
		text-align:center;
}
body {
		background-color:#fff;
}
h1, h2 {
		font-weight: 300;
}
a {
		text-decoration:none;
}
.inner {
		width:1122px;
		margin:0 auto;
}
.line {
		height:1px;
		background-color:#f5f5f5;
}
.clear-both {
		clear:both;
}
/*top-line*/
.top-line {
		height:3px;
		background-image:url(../images/top-line.jpg);
		position:relative;
		top:30px;
}
/*one*/
#one {
		background-color:#4c4152;
}
.one-inner {
		background-image:url(../images/one-bag.jpg);
		height:989px;
		width:1122px;
}
#one p {
		text-align:center;
		padding-top:190px;
		color:#fff;
		text-transform:uppercase;
		margin: 0;
		font-size:14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
}
#one .price {
		width:106px;
		height:106px;
		background-image:url(../images/pink-star.png);
		margin:60px auto;
}
#one .price h2 {
		font-family: 'Open Sans', sans-serif;
		font-size:33px;
		padding-top: 30px;
		color:#fff;
		text-align:center;
}
.one-inner h1 {
		color:#fff;
		font-family: 'Open Sans', sans-serif;
		font-size:39pt;
		text-align:center;
		margin-top: 63px;
}
.one-inner h1 span {
		text-decoration:underline;
}
#one .one-images {
		width:824px;
		margin:111px auto;
}
#one .one-images .middle-img {
		margin: 0 43px;
}
/*two*/
#two {
		height:193px;
}
#two h2 {
		font-family: 'Open Sans', sans-serif;
		color:#4c4152;
		text-align:center;
		margin: 0;
		padding-top: 60px;
}
/*three*/
#three {
		height:720px;
		background-color:#e0cdac;
}
/*four*/
#four {
		height:384px;
		background-color:#fff;
}
#four .four-inner p {
		color: #746a79;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin: 0;
        padding-top: 34px;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        padding-bottom: 39px;
}
#four .four-inner-feedback {
		width:1000px;
		margin:0 auto;
}
#four .four-inner-feedback .feedback {
		float:left;
		margin: 29px 15px;
        width: 218px;
}
#four .four-inner-feedback .feedback p {
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
		color:#000;
}
#four .four-inner-feedback .feedback .date {
		font-family: 'Open Sans', sans-serif;
		font-size:10pt;
		color:#a79faa;
		margin:0;
}
/*five*/
#five {
		height:192px;
		background-color:#f5f5f5;
		text-align:center;
}
#five h1 {
		font-family: 'Open Sans', sans-serif;
		font-size:66px;
		color:#746a79;
		margin:0;
}
#five h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		color:#b6b3b7;
		padding-top: 21px;
		margin: 0;
}
/*six*/
#six {
		height:427px;
}
.six-inner {
	width:964px;
	margin:0 auto;
}
#six .offer {
		width:320px;
		text-align:center;
		float:left;
		font-family: 'Open Sans', sans-serif;
		margin-top: 45px;
		color: #746A79;
}
#six .offer h2 {
		font-size:24px;
}
#six .offer span{
		color:#95d04f;
}
#six .offer p{
		font-size: 13px;
		font-weight: 400;
}
#six .border{
		border-left:dashed 1px #f0f0f0;
		border-right:dashed 1px #f0f0f0;
}
#six .offer .button {
		font-weight: 800;
		color: #95D04F;
		padding: 18px 28px;
		margin-top: 12px;
		display: inline-block;
		-moz-border-radius: 29px;
		-webkit-border-radius: 29px;
		border-radius: 29px;
}
#six .offer a.green {
		color:#fff;
		background-color:#95d04f;
}
#six .offer a.green:hover {
		background-color: #87cb36;
		
}
#six .offer a.white{
		border: 1px solid #D3ECB7;;
		-moz-box-shadow: 0px 1px 0px #C4B7B7;
		-webkit-box-shadow: 0px 1px 0px #C4B7B7;
		 box-shadow: 0px 1px 0px #C4B7B7; 
}
#six .offer a.white:hover{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow:none;
}
		
#six .offer h1 {
		font-weight: 800;
		color:#746a79;
}
#six .offer .green {
		color:#95d04f;
}
/*seven*/
#seven {
		background-image:url(../images/footer-bg.jpg);
		height:154px;
		font-family: 'Open Sans', sans-serif;
  		font-size: 12px;
		font-weight: 300;
}
#seven .seven-inner ul {
		list-style:none;
		margin-top: 28px;
}
#seven .seven-inner ul li{
		display:inline;
		margin-right:30px;
}
#seven .links{
		float:left;
}
#seven .links a{
color:#828282;
}
#seven .links a:hover{
color:#424242;
}
#seven .handcoded {
		float:right;
}
#seven .handcoded a{
		color:#6ab610;
}
#seven .made {
		color:#2e2439;
		text-align:center;
		clear: both;
/*		padding-top: 50px;					*/
}
